.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;

}

.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.card{
    width: 250px;
    margin: 10px 10px 0px 0px;
    display: flex;
    text-align:left;
}

.card h6{
    text-align: center;
    background-color: whitesmoke;
    padding: 5px;
}

.card p{
    height: 150px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 20px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
}

.card .card-img{
    width: 200px;
    margin: 10px auto;
}